@page "/popular"
@if (_source!=null&&SearchContainer!=null)
{	
	<MudCarousel  @ref="_carousel" ItemsSource="@_source" @bind-SelectedIndex="selectedIndex" Style="height:300px;" ShowArrows="@_arrows" ShowBullets="@_bullets" EnableSwipeGesture="@_enableSwipeGesture" AutoCycle="@_autocycle">
		<ItemTemplate>
			<div class="d-flex flex-column flex-column justify-center" style="height:120%">
				<MudImage Src=@GetCompletedPosterPath(SearchContainer.Results[selectedIndex].PosterPath) Width="130" Alt=@AlternativeImage Elevation="25" Class="mx-auto rounded-lg ma-4" />
				<MudButton Variant="Variant.Text" DisableElevation="true" Color="Color.Secondary" @onclick=" e=>ClickMovie(selectedIndex)">@context</MudButton>
			</div>
		</ItemTemplate>
	</MudCarousel>
	<MudSwitch T="bool" @bind-Value="@_autocycle" Color="Color.Primary">Auto Cycle</MudSwitch>
	<MudSelect @bind-Value="selectedIndex" Style="width:50%">
		@{
			int index = 0;
			foreach (var item in SearchContainer.Results)
			{
				<MudSelectItem Value="@index">
				
					<p>@item.Title</p>
				</MudSelectItem>
				if (index==SearchContainer.Results.Count())
				{
					index = 0;
				}
				index++;
			}
		}
	</MudSelect>
}
