@using TMDB_blazor.Components
@using TMDB_blazor.Data
@using TMDbLib.Objects.Movies
@using TMDbLib.Objects.Search
@page "/search"
<MudContainer>
    From local favorite?
    <MudToggleIconButton Icon="@Icons.Material.Filled.Check" Color="@Color.Error" Title="Off" ToggledChanged="e=>ChangeSearchLikedCondition()"
                         ToggledIcon="@Icons.Material.Filled.Block" ToggledColor="@Color.Success" ToggledTitle="On" />
    From local viewed?
    <MudToggleIconButton Icon="@Icons.Material.Filled.Check" Color="@Color.Error" Title="Off" ToggledChanged="e=>ChangeSearchViewedCondition()"
                         ToggledIcon="@Icons.Material.Filled.Block" ToggledColor="@Color.Success" ToggledTitle="On" />


    @if (SearchAdultEnable)
    {
        <span>
            +18 Content
        </span>
    }
    else
    {
        <span>
            Children friendly

        </span>
    }
    <MudToggleIconButton @bind-Toggled="@SearchAdultEnable"
                         Icon="@Icons.Material.Filled.ChildCare" Color="@Color.Success" Title="Off"
                         ToggledIcon="@Icons.Material.Filled.Warning" ToggledColor="@Color.Error" ToggledTitle="On" />
    <MudButton Color="Color.Primary"  @onclick="e=>OrderByReleaseDate()">Sort by date</MudButton>
    <SearchBarItem OnSearchChanged="InputChanged"></SearchBarItem>
    @if (DisplayResult != null)
    {
        if (loading)
        {
          <p>

          Loading...
          </p>
            <Fold Color="rgba(245, 174, 39, 0.87)" />
        }
        else
        {

            <GenericList T="UserMovie" Items="DisplayResult" ItemsPerPage="10">
                <TableHeader>
                    <tr>Results</tr>
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>Vote Average</th>
                        <th>Vote Count</th>
                        <th>Viewed?</th>
                        <th>Liked?</th>
                        <th>+18 Content?</th>
                        <th></th>
                    </tr>
                </TableHeader>
                <ItemTemplate Context="r">
                    <tr>
                        <td>@r.Title</td>
                        <td>
                            @if (r.ReleaseDate == null)
                            {
                                <p> Unknown</p>

                            }
                            else
                            {
                                @(((DateTime)r.ReleaseDate).ToString("d"))

                            }
                        </td>
                        <td>@r.VoteAverage</td>
                        <td>@r.VoteCount</td>

                        <td>
                            @if (r.Viewed == null)
                            {
                                <MudIcon Color="Color.Success" Icon="@Icons.Material.Filled.Help"></MudIcon>


                            }
                            else if (r.Viewed == true)
                            {

                                <MudIcon Color="Color.Warning" Icon="@Icons.Material.Filled.CheckCircle"></MudIcon>

                            }
                            else
                            {
                                <MudIcon Color="Color.Success" Icon="@Icons.Material.Filled.RemoveRedEye"></MudIcon>

                            }
                        </td>
                        <td>
                            @if (r.Favorite == null)
                            {
                                <MudIcon Color="Color.Error" Icon="@Icons.Material.Filled.StarBorder"></MudIcon>


                            }
                            else if (r.Favorite == true)
                            {
                                <MudIcon Color="Color.Warning" Icon="@Icons.Material.Filled.Star"></MudIcon>

                            }
                            else
                            {
                                <MudIcon Color="Color.Error" Icon="@Icons.Material.Filled.StarBorder"></MudIcon>


                            }
                        </td>
                        <td>
                            @if (r.Adult == true)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.DoDisturb"></MudIcon>
                            }
                            else
                            {
                                <MudIcon Icon="@Icons.Material.Filled.ChildCare"></MudIcon>
                            }
                        </td>
                        <td>

                            <MudIconButton Icon="@Icons.Material.Rounded.Web" Color="Color.Warning" @onclick="e=>Redirect(r)"></MudIconButton>
                        </td>

                    </tr>
                </ItemTemplate>
                <TableFooter></TableFooter>

            </GenericList>
        }
    }

</MudContainer>